@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --color-brand-orange: #FF801E;
    --color-brand-dark: #0D1D19;
    --color-brand-light: #F1F1F1;
}

@layer base {
    body {
        background-color: var(--color-brand-light);
        color: var(--color-brand-dark);
    }
}